/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Global ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(155, 85, 0);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Heading///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

h1 {
	font-size: 2rem;
}

.heading {
	color: white;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.heading p {
	padding: 0.5rem;
	font-size: 1.5rem;
}

.heading button {
	margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
	h1 {
		font-size: 3rem;
	}
	.heading {
		padding-top: 5rem;
		padding-bottom: 2rem;
	}

	.heading p {
		padding: 0.5rem;
		font-size: 2rem;
	}

	.heading button {
		margin-top: 2rem;
	}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Buttons///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.btn {
	width: 9rem;
	height: 3rem;
	border-radius: 1rem;
	color: white;
	font-size: 1rem;
	font-weight: 600;
}

.btn:hover {
	background-color: purple;
}

.btn-change {
	width: 7rem;
	height: 2rem;
	border-radius: 0.7rem;
	color: white;
	font-weight: 600;
}

.btn-change:hover {
	background-color: purple;
}

.btn-add {
	background-color: orangered;
}

.btn-remove {
	background-color: red;
	margin-left: 1rem;
}

.btn-read {
	background-color: goldenrod;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Container/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.container {
	background-color: white;
	min-width: 50%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Books ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.book {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 2px solid rgb(155, 85, 0);
	padding-top: 1rem;
}

.author {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.author h2 {
	padding-right: 1rem;
}

.pages {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pages h2 {
	padding-right: 1rem;
}

.status {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.status h3 {
	padding-right: 1rem;
}

.div-btn {
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
